.portfolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.portfolio-left-container,
.portfolio-right-container {
  width: 50%;
}

.portfolio-right-container-image {
  align-items: center;
  background-color:  #111111;
  border-radius: 20px;
  box-shadow: inset 0 2px #5c5c5c14;
  padding: 24px;
}
.portfolio-right-container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
