
.footer-cont {
    justify-content: space-between;
}

.nav-item {
    list-style: none;
}

.footer-ul {
    gap: 30px;
}

.social {
    padding: 14px 14px 14px 24px;
    border: 2px solid #262626;
}

.social p {
    padding-right: 20px;
}

.center-img {
    padding: 0 14px;
}

.social-icon {
    color: #fff;
    /* padding-top: 40px; */
    justify-content: space-between;
}

.mail a {
    text-decoration: none;
    color: #fff;
}

.social-icon-sub {
    gap: 30px;
}

.spacing {
    padding-left: 10px;
}

hr {
    border-top: 2px solid #262626 !important;
    margin: 25XSpx 0 !important;
}