.about-hero {
  height: 100dvh;
  align-content: center;
  text-align: center;
}
.about-hero p {
  font-size: 30px;
}
.about-hero h1 {
  width: 60%;
  margin: auto;
}

.about-experience-container a {
  text-decoration: none;
  color: #fff;
}
.about-experience-container {
  width: 60%;
}
.about-experience-container h2 {
  font-size: 50px;
}
.about-experience-container p {
  font-size: 22px;
}
.about-experience-container button {
  width: 25vh;
  height: 7vh;
}

.about-tarlose {
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-tarlose h5 {
  width: 40%;
}

/* about founders  */

.about-founders {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-title p {
  font-size: 40px;
}
.about-title h2 {
  font-size: 150px;
}

.founder-container {
  display: flex;
  gap: 120px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.founder-img {
  width: 40%;
}
.founder-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.founder-details {
  width: 80%;
}

.founder-name {
  font-size: 70px;
}

.founder-position {
  font-size: 30px;
}

.founder-discription {
  font-size: 22px;
}

@media (max-width: 480px) {
  .about-tarlose {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about-tarlose h5 {
    padding-bottom: 50px;
  }
  .about-experience-container h2 {
    font-size: 25px;
  }
  .about-experience-container {
    width: 80%;
  }
  .about-experience-container button {
    margin-top: 50px;
  }
  .about-title p {
    font-size: 35px;
  }
  .about-title h2 {
    font-size: 65px;
  }
  .founder-container {
    flex-direction: column !important;
    gap: 40px;
  }
  .founder-img, .founder-details{
    width: auto !important;
}
}
