.section-cta {
  height: 70vh;
  align-content: center;
  background-color: rgb(13, 13, 13);
  margin: 20px 20px 0 20px;
  border-radius: .75rem;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #fff;
  padding: 20px;

  background-image: url('../../assets/svgs/dot-bg.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
.cta-container a {
  text-decoration: none;
  color: #fff;
}
.cta-container button {
  padding: 15px 50px;
}
.cta-container h2 {
  font-size: 96px;
  width: 70%;
  line-height: 91px;
  margin-bottom: 3rem;
}

.cta-span {
  font-size: 70px;
  position: relative;
  top: -20px;
  left: -30px;
}

@media (max-width: 480px) {

    .section-cta {
        height: 50vh;
        align-content: center;
        background-color: rgb(13, 13, 13);
        margin: 15px 15px 0 15px;
        border-radius: .75rem;
      }
    .cta-container h2 {
        font-size: 48px;
        line-height: 46px;
        width: 100%;
      }

      .cta-span {
        font-size: 30px;
        position: relative;
        left: -10px;
      
      }

}
