:root {
  --font-size--XS: clamp(0.75rem, calc(0.156vw + 0.594rem), 0.84375rem);
  --font-size--XL: clamp(1.25rem, calc(0.26vw + 0.99rem), 1.40625rem);
  --base-unit: clamp(1rem, calc(0.208vw + 0.792rem), 1.125rem);
  --spacing--XS: calc(var(--base-unit) * 1);
  --font-weight--medium: 500;
  --font-family--Gilroy: 'Gilroy', sans-serif;
  --font-family--Gilroy-Bold: 'Gilroy-Bold', sans-serif;
  --line-height--tight: 1.2;
  --mono-XS--margin-bottom: calc(var(--font-size--XS) * 0.625);





  --color--text-light: #cbacdc; 
}

.card-title-blog {
  color: var(--color--text-light) !important;
  font-size: var(--font-size--XS);
  margin-bottom: var(--mono-XS--margin-bottom);
}

.card-text {
  color: #fff;
  font-size: var(--font-size--XL);
  font-weight: var(--font-weight--medium);
  line-height: var(--line-height--tight);
  font-family:  var(--font-family--Gilroy);
      font-weight: 600;
}

.glass-card {
  background-color: transparent !important;
  border: none !important;
}
.card-body {
  padding: 0 !important;
}

.card-img-top {
  margin-bottom: var(--spacing--XS) !important;
}

.blog-tabs-container {
  margin-top: 8rem;
}