:root {
          --font-size--2XL: clamp(1.5rem, calc(0.313vw + 1.188rem), 1.6875rem);
          --font-size--XL: clamp(1.25rem, calc(0.260vw + 0.990rem), 1.40625rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hr-blog {
  border-top: 2px solid #322C35 !important;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title h2 {
  margin: 0;
}
.recent-posts {
  display: flex;
  gap: 50px;
}

.recent-posts a {
  color: aliceblue;
  text-decoration: none;
}



.large-post {
  width: 70%;
}

.post-image {
  width: 100%;
  object-fit: cover;
}

.post-image img {
  width: 100%;
  object-fit: cover;
}

.post-title {
      font-size: var(--font-size--2XL);
}

.small-posts {
  width: 100%;
}

.small-post-title {
      font-size: var(--font-size--XL);

}

.small-post-content {
  margin-bottom: 30px;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  .recent-posts {
    display: block;
  }
}