.pricing-container {
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(250 250 250 / 6%);
}


.pricing-cards {
    display: flex;
    gap: 20px;
  }
  
  .pricing-card {
    width: 100%;
    background-color: rgb(13, 13, 13) !important;
    border-radius: 15px;
    opacity: 1;
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .pro-border {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .plan-badge {
    background-color: #8d6a9f;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .plan-badge svg {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }
  
  .pricing {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .payment-type {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
  }
  
  .target-audience {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .features-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .tick-mark {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .pricing-btn {
    width: 100% !important;
  }
  
  .pricing-btn-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .plan-toggle {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
  }
  
  .plan-toggle.active {
    background-color: #8d6a9f !important;
    color: white;
  }
  
  .plan-toggle:not(.active) {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
  }

  @media (max-width: 480px) {
    .pricing-cards {
        flex-direction: column;
    }
  }