.Testimonial-container {
  display: flex;
  gap: 44px;
}

.Testimonial-left-container {
  width: 50%;
}

.Testimonial-heading-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Testimonial-content-container h2 {
  font-size: 54px;
  font-weight: 400;
  font-family: gilroy, sans-serif;
  padding-bottom: 16px;
}
.Testimonial-content-container span {
  color: rgba(255, 255, 255, 0.6);
}
.Testimonial-content-container p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  font-family: gilroy, sans-serif;
}

.parent-box {
  margin: 24px 0;
}

.parent-box .box {
  background-color: rgb(17, 17, 17);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  width: 100%;
}
.parent-box .box h2 {
  font-size: 30px;
  font-weight: 600;
}

.Testimonial-divider {
  background-color: rgba(255, 255, 255, 0.1);
  flex: none;
  height: 2px;
  opacity: 0.8;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.Testimonial-btn {
  margin-top: 24px;
}

/* Testimonial right  */

.Testimonial-right-container {
  width: 50%;
}

.Testimonial-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Testimonial-card {
  background: linear-gradient(
    121deg,
    var(--token-16f2e642-57af-452f-984c-64067596f797, rgb(120, 120, 120))
      /* {"name":"light grey"} */ -52%,
    var(--token-cba3b9c8-9e49-437e-aca1-1e69db3088dc, rgb(17, 17, 17))
      /* {"name":"Dark Background Color"} */ 19%,
    var(--token-f5646347-2529-487d-8af1-d99f05c5451c, rgb(10, 10, 10))
      /* {"name":"Background"} */ 100%
  );
  max-width: 100%;
  width: 100%;
  border-radius: 16px;
  padding: 24px;
  box-shadow: rgba(184, 180, 180, 0.08) 0px 2px 0px 0px inset;
  opacity: 1;

  position: sticky;
  top: 10rem;
}

.Testimonial-img-container {
  width: 75px;
  height: 75px;
}

.Testimonial-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.Testimonial-card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Testimonial-card-heading-container {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}
.Testimonial-card-heading h3 {
  font-size: 25px;
  font-weight: 400;
  font-family: gilroy, sans-serif;
}
.Testimonial-card-heading p {
  font-size: 16px;
  font-weight: 500;
  font-family: gilroy, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

.Testimonial-review {
  color: rgba(255, 255, 255, 0.831);
}

.Testimonial-card-divider {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  opacity: 0.8;
}

.Testimonial-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
