/*scroll-slider  */

/* work section  */


/* .racesWrapper {
    height: 100vh;
    margin: 10rem 0 !important;
} */

.card_link {
    color: #fff;
    text-decoration: none;
}

.works-card-2 {
    padding: 1.815rem 2.815rem 2.815rem;
    /* background-color: #559295; */
    background-image: linear-gradient(#9C0808, #202020);
    /* background-color: #9C0808; */

    border-radius: 20px;
    width: 34.375rem;
    min-height: 34rem;
    transition: 500ms;
    box-shadow: 0px 0px 30px rgba(156, 8, 8, 0.30);
}
.works-card-1 {
    padding: 1.815rem 2.815rem 2.815rem;
    /* background-color: #559295; */
    background-image: linear-gradient(#8cd34a, #202020);

    border-radius: 20px;
    width: 34.375rem;
    min-height: 34rem;
    transition: 500ms;
    box-shadow: 0px 0px 30px rgba(156, 8, 8, 0.30);
}

.work-cont {
    align-content: center;
    /* width: 50%; */
    width:calc(100% / 2);
    margin-left: 120px;

}

.works-cards-cont {
    /* width: 50%; */
    width:calc(100% / 2);
    /* width: 460px;
    height: 380px; */

}

#display-text{
    opacity: 0;
    transform: translateY(-30px);
    transition: 500ms;
}

.works-card-1:hover{
    /* scale: 1.020; */
    transform: scaleX(1.020);

}


.works-card-1:hover #display-text {
    opacity: 1;
    transform: translateY(0px);
    margin-bottom: 1rem;

}

.cards-headding {
    align-items: center;
}

.work-headding {
    max-width: 26.25rem;
    letter-spacing: -1.16px;
    font-size: 3.625rem;
    line-height: .95;
}

.work-headding span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #b1bfd8, #8d6a9f);
    background-clip: text;

}

.work-para {
    font-size: 1.25rem;
    line-height: 1.4;
    color: #bbb;
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;
}

.sub-card-cont  {
    margin-left: 50px;
    gap: 2.625rem;
}
.races {
	/* width:fit-content; */
	display:flex;
    /* width: calc(100% / 1); */
	/* flex-wrap:nowrap; */
}
