.vertical-slider-parent-container {
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding: 80px 0;
}

.vertical-slider-parent-container .services-header h2 {
    color: #fff !important;
}

.vertical-slider-container {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  gap: 20px;
  max-height: 60dvh;
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.vertical-slider-up {
  display: flex;
  flex-direction: column;
  animation: verticalsliderUp 8s linear infinite;
  gap: 20px;
}

.vertical-slider-down {
  display: flex;
  flex-direction: column;
  animation: verticalsliderDown 8s linear infinite;
  gap: 20px;
}

.vertical-slide {
  /* min-height: 150px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(13, 13, 13) !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px !important;
  border-radius: 12px;
}

.vertical-slide-heading-container {
  display: flex;
  gap: 10px;
}

.vertical-slide-img {
  width: 50px;
  height: 50px;
}
.vertical-slide-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@keyframes verticalsliderUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes verticalsliderDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 480px) {
    .vertical-slider-up {
        display: none;
    }
}
