.footer-container {
  height: 100vh;
  padding-top: 7rem;
}


.footer-img {
  width: 20rem;
}
.footer-img img {
  height: 100%;
  width: 100%;
}

.left-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-mail,
.footer-contact {
  transition: color 0.3s ease-in-out;
}

.footer-mail {
  font-size: 2.2rem;
}

.footer-contact {
  font-size: 1.4rem;
}

.footer-mail:hover,
.footer-contact:hover {
  color: #8d6a9f !important;
}


/* right footer style  */

.right-footer {
  padding: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
}

.column {
  text-align: left;
}

.column h5 {
  margin-bottom: 10px;
  font-weight: bold;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 5px;
}