:root {
  --base-unit: clamp(1rem, calc(0.208vw + 0.792rem), 1.125rem);
  --spacing--M: calc(var(--base-unit) * 3);
  --spacing--S: calc(var(--base-unit) * 2);
  --font-weight--medium: 500;
  --font-family--Gilroy: "Gilroy", sans-serif;
  --font-family--Gilroy-Bold: "Gilroy-Bold", sans-serif;
  --line-height--tight: 1.2;
}

.modern-contact-container {
  margin-top: calc(var(--spacing--M) + var(--spacing--S)) !important;
  text-align: center;
}
.modern-contact-container .contact-heading {
  font-family: var(--font-family--Gilroy) !important;
  font-size: 70px;
}
.modern-contact-container .sub-head {
  font-family: var(--font-family--Gilroy) !important;
  font-size: 20px;
  letter-spacing: 0.2dvh;
  max-width: 55%;
  margin: auto;
  line-height: 1.5;
}
.contact-section {
  max-width: 80%;
  margin: auto !important;
  padding-bottom: 160px;
}

.contact-card {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background: rgba(54, 54, 54, 0.053);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2), inset 2px 4px 16px #f8f8f80f;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 61px 40px;
  height: 100%;
  color: #ccc;
}

.form-control {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.form-label span {
  color: red;
}

input,
textarea {
  padding: 12px 18px 12px 18px !important;
  border-radius: 10px !important;
}

::placeholder {
  color: gray !important;
  opacity: 1 !important;
}

.form-control:focus {
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  box-shadow: none;
}

.gradient-button {
  background: linear-gradient(90deg, #8D6A9F 0%, #8D6A9F 100%);
  border: none;
  color: white;
  transition: 0.3s ease;
}

.gradient-button:hover {
  background: linear-gradient(90deg, #8D6A9F 0%, #8D6A9F 100%);
  transform: scale(1.03);
}

.flip-word {
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: 40px;
}

.sub-message {
    font-family: var(--font-family--Gilroy) !important;
  font-size: 20px;
  letter-spacing: 0.2dvh;
  max-width: 65%;
  margin: auto;
  line-height: 1.5;
}

